.Ronaldo_heading{
     font-size: 60px;
     font-weight: 800;
     top: 0;
     text-align: center;
}
.hay_iam{
     font-size: 15px;
     margin-bottom: 0;
     margin-top: 6rem;
     color: rgb(31, 91, 241);
     text-align: center;
}
.Ronaldo_heading_after{
     margin-left: 16rem;
     align-items: center;
}